*~
/bin/
.bin
.slcache/
.project
.classpath
.slcache/
*.iws
*Db.properties
*Db.script
.settings
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
/target-eclipse/
.metadata
*.eml
*.iml
*.ipr
.idea
*.swp
*.swo
*.war
*.tld
deployment/
target/
node_modules/
build/
coolConf/classes
grails.err
grails.out
grails.pid
storage/
